<h1>Inimco Developer Test</h1>
<h3>Tell us something about yourself !</h3>

  <form (ngSubmit)="onSubmit()" name="personForm">
    <div class="form-group">
      <label for="firstName">First name</label>:
      <input [(ngModel)]="firstName" type="text" class="form-control" id="firstName" name="firstName" ng-required="true" />
    </div>
    <div class="form-group">
      <label for="lastName">Last name</label>:
      <input [(ngModel)]="lastName" type="text" class="form-control" id="lastName" name="lastName" ng-required="true"/>
    </div>
    <div class="form-group">
      <label for="socialSkills">Social skills</label>:
      <input [(ngModel)]="socialSkills" type="text" class="form-control" id="socialSkills" name="socialSkills" />
    </div>
    <div class="form-group">
      <label for="socialAccounts">Social accounts</label>:
      <input [(ngModel)]="socialAccounts" type="text" class="form-control" id="socialAccounts" name="socialAccounts" />
    </div>
    <p>
      <button type="submit" class="btn btn-success">Submit</button>
    </p>
  </form>

  <h2>Generated Output:</h2>
  <div id="output" *ngIf="personInfoModel !== undefined">
    <p>The number of VOWELS: {{ personInfoModel.vowels }}</p>
    <p>The number of CONSTENANTS: {{ personInfoModel.constenants }}</p>
    <p>Fullname: {{ personInfoModel.fullName }}</p>
    <p>Reversed Fullname: {{ personInfoModel.reversedFullName }}</p>
    <p>The Person input object:</p>
    <p>{{ personInfoModel.originalPersonModel | json}}</p>
  </div>


